*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bigcontainer{
    overflow-x: hidden;
    /* min-height: 100vh;
    width: 100%;
    padding: 20px;
    background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 110vh;
    background-size: cover;
    background-position: center;
    background-image: url('contactphp.jpg') ;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container{
    width: 100%;
    max-height: 600;
    position: relative;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    max-width: 1000px;
    z-index: 999;

}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    transform: skewX(-15deg);


}
.container h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}
.container .row100{
    position: relative;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    
    
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container .row100 .col .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: white;
}
.container .row100 .col .inputbox input,
.container .row100 .col .inputbox textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: black;
    transition: 0.4s;
}
.container .row100 .col .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 17px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
}
.container .row100 .col .inputbox input:focus + .text,
.container .row100 .col .inputbox input:valid + .text,
.container .row100 .col .inputbox textarea:focus + .text,
.container .row100 .col .inputbox textarea:valid + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .col .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
   height: 2px;
   background: white;
   border-radius: 2px;
   transition: 0.5s;
   
}


.container .row100 .col .inputbox input:focus ~ .line,
.container .row100 .col .inputbox  input:valid ~ .line{
    height: 100%;
}
.container .row100 .col .inputbox.textarea{
    position: relative ;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .col .inputbox textarea:focus ~ .line,
.container .row100 .col .inputbox  textarea:valid ~ .line{
    height: 100%;
}


.container .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    outline: none;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 17px;
    border-radius: 2px;
    transition: 0.5s;
}
.container .row100 .col input[type="submit"]:hover{
    color: white;
    background: black;
    /* border: 2px solid white; */

}
/* .container .row100 .col input:hover{
    color: white;
} */